<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614687590373-2an37k9fvjto4s7dm4c1iinb0gkb7bd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614687590373-2an37k9fvjto4s7dm4c1iinb0gkb7bd7</string>
	<key>API_KEY</key>
	<string>AIzaSyCpU-ICCSm2kSZfyedpnh0OOnohNotuNsU</string>
	<key>GCM_SENDER_ID</key>
	<string>614687590373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNoteAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-note-app-firebas-69b7d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-note-app-firebas-69b7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614687590373:ios:486cbe48cf95de1b31510c</string>
</dict>
</plist>